[submodule "snes9x-next"]
	path = snes9x-next
	url = https://github.com/libretro/snes9x-next.git
[submodule "nanoarch"]
	path = nanoarch
	url = https://github.com/nadavbh12/nanoarch.git
[submodule "stella-libretro"]
	path = stella-libretro
	url = https://github.com/nadavbh12/stella-libretro.git
